<form class="name-form">
    <mat-form-field class="input" appearance="outline">
      <mat-label>Pokemon</mat-label>
      <input matInput placeholder="Pikachu" [(ngModel)]="pokemon" name="pokemon" required>
    </mat-form-field>
    
    <br>

    <button mat-flat-button class="submit" type="submit" (click)="getPokemon()">Submit</button>
    <button mat-flat-button class="submit" type="submit" (click)="getRandomPokemon()">Random</button>
    <mat-checkbox class="check-box" (change)="toggleSimple()">Simplified Data</mat-checkbox>
</form>


