.input-form {
    min-width: 150px;
    max-width: 500px;
  }

.input{
    margin-left: 10px;
    width: 20vw;
}

.submit{
    background-color: #1976d2;
    color: white;
    margin-left: 10px;
}


.check-box{
    margin-left: 10px;
}