.input-form {
    display: grid;
    justify-content: center;
    align-items: center;
    
  }

.input{
    width: 30vw;
}

.buttons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.submit{
    background-color: #1976d2;
    color: white;
    margin-top: 1vh;
    width: auto;
    margin-left: 1vw;
    margin-right: 1vw;
}

h2{
    text-align: center;
}
